.heading {
    display: flex;
    justify-content: center;
}

.options {
    display: flex;
    justify-content: space-between;
}

p {
    font-size: 30px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}

/* Center body to the page */

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

/* End */

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(126, 126, 126);
}

.descriptions {
    display: flex;
    justify-content: space-between;
}

.descriptions p {
    font-size: 15px;
    margin: 0px 30px 0px 30px;
}

.enja-description {
    position: relative;
    left: 102px;
    bottom: 10px;
}

.jaen-description {
    position: relative;
    left: 5px;
    bottom: 10px;
}

.jaja-description {
    position: relative;
    right: 93px;
    bottom: 10px;
}